@{
    ViewData["Title"] = "Database Maintenance";
}

<div class="text-center">
    <h1>Database Maintenance</h1>
</div>

<div class="text-center">
    <a asp-controller="Maintain" asp-action="Create">Create</a>
    <a asp-controller="Maintain" asp-action="Update">Update</a>
    <a asp-controller="Maintain" asp-action="Delete">Delete</a>
</div>
<br />
